{{- template "header" . }}
<link href="/.pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/.pagefind/pagefind-ui.js"></script>
<div id="search"></div>
<!-- need comment to make it through template for mosaic compat, and need it to not be JS-escaped -->
{{ printf "<script> <!--" | raw }}
	window.addEventListener('DOMContentLoaded', (event) => {
		new PagefindUI({
			element: "#search",
			pageSize: 25,
			showSubResults: true,
			showImages: true,
			excerptLength: 30,
			resetStyles: false,
			autofocus: true,
		    processResult: function (result) {
				if (result.meta.image.startsWith("/public/badges/")) {
					result.meta.image = null;
				}
				for (let i = 0; i < result.sub_results.length; i++) {
					result.sub_results[i]["title"] = result.sub_results[i]["title"].replace(" ¬ §", "")
				}
				return result;
		    }
		});
	});
{{ printf "//-->" | raw }}
</script>
<br>
<p>Search requires Javascript and WebAssembly. You can also <a href="/txt/!txt.zip">download all posts</a> and search them outside your browser.</p>
{{- template "footer" . }}
