/* --- global --- */
html {
	max-width: 80ch;
	margin: auto;
	background-color: lightcyan;
	font-family: sans-serif;
	overflow-x: clip;
}
:focus-visible {
	outline: medium solid hotpink;
}
::selection {
	color: white;
	background-color: mediumorchid;
}

/* --- title --- */
h1 {
	background: linear-gradient(to left, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
	background-clip: text;
	color: transparent;
	filter: drop-shadow(2px 2px #000);
	margin: auto;
	width: fit-content;
	text-align: center;
	font-size: 3em;
}
h1:before,
h1:after {
	color: black;
	display: inline-block;
	position: relative;
	width: 0;
}
h1:before {
	content: "🌈";
	right: 2ch;
}
h1:after {
	content: "🌈";
	transform: scaleX(-1);
	left: 2ch;
}

/* --- about --- */
#about {
	width: fit-content;
	margin: auto;
}
#about summary {
	text-align: center;
}
summary::marker {
	color: hotpink;
}
li::marker {
	content: "❀ ";
	color: mediumorchid;
}

/* --- main I/O --- */
input[type=button],
input[type=file],
textarea,
pre {
	display: block;
	margin: 0 0 1em;
	width: 100%;
	background-color: mistyrose;
	border: 1px solid black;
	box-sizing: border-box;
}
textarea#styles,
textarea#scripts {
	height: 1.75em;
}
/* code output */
pre {
	overflow: auto;
}
/* file load error message */
div#message {
	display: block;
	margin: 1em;
}

/* --- main buttons --- */
input[type="button"] {
	background-color: white;
	border: 2px outset black;
	cursor: pointer;
	padding: 0.25em;
	font-weight: bold;
	letter-spacing: 0.1em;
}
input[type="button"]:active {
	border-style: inset;
}
input#update {
	font-size: 1.75em;
	margin-top: 1.5em;
}
input.save {
	background-color: deeppink;
	color: white;
	width: fit-content;
/*	margin: 0 0 0.25em; */
	font-size: 1.2em;
}
input#save {
	margin: 0 0 0.5em auto;
	position: relative;
	bottom: 0.5em;
}

/* --- I/O labels --- */
body > label,
body > .label {
	font-size: 1.2em;
	display: flex;
}
.label {
	position: relative;
	top: 1em;
}
body > label:before,
.label:before {
	content: "🏳️‍🌈";
	margin-right: 0.25ch;
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 100%, 35% 50%, 0% 0%);
	height: 50%;
}
body > label details {
	cursor: help;
/*	float: right; */
	width: fit-content;
	margin-left: auto;
	font-size: 0.75em;
	text-align: right;
/*	max-width: 65%; */
	font-style: italic;
/*	margin-top: 0.5em; */
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	gap: 2px;
	padding: 0.4em 0 0 2em;
}
/*body > label details:open { */
/*	pointer-events: none; */
/*} */
body > label details:open:after {
	content: attr(title);
}
/*body > label details:open summary { */
/*	display: none; */
/*} */
body > label summary {
	color: blue;
	font-style: normal;
	text-decoration: underline;
	text-decoration-skip-ink: none;
}
body > label summary::marker {
	content: "";
}

/* --- style builder --- */
iframe {
	width: 100%;
	min-height: 33vh;
	box-sizing: border-box;
	flex-grow: 1;
	margin: 0;
	padding: 0;
	border: 0;
}
/* wrapper and flexbox needed to make iframe user resizable */
#iframe-wrap {
	display: flex;
	margin: 0.5em 0;
	padding: 0;
	resize: both;
	overflow: hidden;
}
/* just included for accessibility */
details label {
	display: none;
}
details label.show {
	display: inline;
}
#toolbox,
#theme-export {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 0.5em;
	margin: 0.5em 0;
}
#toolbox input,
#toolbox select {
	flex-grow: 1;
	flex-shrink: 0;
}
#border-width {
	max-width: 30%;
}
input#save-css {
	float: right;
	width: fit-content;
	margin: 0;
	font-size: 1em;
	letter-spacing: 0;
}

/* --- queries --- */
@media screen and (max-width: 700px) {
	h1 {
		font-size: 2em;
	}
}
@media screen and (max-width: 400px) {
	h1 {
		font-size: 1.5em;
	}
	body > label details {
		font-size: 0.65em;
	}
}
