@media print {
	nav,
	.button,
	.menu,
	#Backlinks,
	#see-also,
	#next-prev,
	#email-wrapper,
	#badge {
		display: none;
	}
	.container {
		padding: 0 !important;
		margin: 0 !important;
	}
	* {
		font-size: 1em !important;
		color: #444;
		background-color: initial !important;
		box-shadow: none !important;
		line-height: 1.2 !important;
		font-family: serif !important;
	}
	code,
	code *,
	pre.chroma,
	tt {
		color: #444;
		tab-size: 2 !important;
		font-family: monospace, monospace !important;
		word-break: break-all !important;
		word-wrap: break-word !important;
		white-space: pre-wrap !important;
		overflow: initial !important;
	}
	pre.chroma {
		padding: 0.5em 0 !important;
	}
	.line:before {
		margin-left: 0;
	}
	.content h1,
	.content h2,
	.content h3,
	.content h4,
	.content h5,
	.content h6 {
		margin: 1.5em 0 0.5em !important;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		page-break-after: avoid;
		break-after: avoid-page;
	}
	time {
		font-weight: normal !important;
	}
	li,
	blockquote,
	figure,
	img {
		page-break-inside: avoid;
		break-inside: avoid-page;
	}
	img {
		max-height: 90vh;
		max-width: 90vw;
	}
	p {
		hyphens: auto;
	}
	a:after {
		content: "\00a0[URL: " attr(href) "]" !important;
		font-size: 75% !important;
		font-weight: normal !important;
		font-style: normal !important;
		font-family: sans-serif !important;
		margin-left: initial !important;
		bottom: 0.25em !important;
	}
	hr {
		border-top: 2px solid hsl(221, 14%, 94%);
	}
}
