{{ template "header" . }}
<style><!-- /* comment for compat */
.calendar td,
.calendar th {
	/* compat: fixed percentage before calc() for pre-calc browsers */
	width: 14.2857%;
	width: calc(100% / 7);
}
.calendar-head {
	font-size: 150%;
	font-style: normal;
	text-align: center;
	padding-top: 0.25em;
}
table.calendar td {
	height: 8em;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
table.calendar td a:focus-visible {
	outline-offset: -2px;
}
.calendar .menu-list a {
	padding: 0.5em;
}
.calendar a .page {
	font-size: 0.75em;
/*	overflow: hidden; */
/*	text-overflow: ellipsis; */
	display: inline-block;
	font-style: italic;
}
.content table.calendar {
	width: 100%;
	margin-bottom: 5%;
}

/* weekdays */
.content .calendar thead th {
/*	padding-left: 10px; */
	word-break: keep-all;
	text-align: center;
	background-color: purple;
	color: white;
}

/* day number color intensity based on number of entries */
.calendar td:has(.menu-list > a:nth-child(1)) span.tag {
	background-color: thistle;
	color: black;
}
.calendar td:has(.menu-list > a:nth-child(2)) span.tag {
	background-color: plum;
}
.calendar td:has(.menu-list > a:nth-child(3)) span.tag {
	background-color: orchid;
}

/* hide blank rows */
.calendar tbody tr:not(:has(.tag)) {
	display: none;
}

/* day numbers */
.calendar .tag {
	position: relative;
	top: -2px;
	border-radius: 0;
}
.calendar a:has(.tag):focus {
	outline: 0;
	border-width: 2px 3px 4px 0;
	border-style: solid;
	border-color: lightseagreen;
}

/* --- media queries --- */
@media (max-width: 767px) {
	table.calendar {
		margin: auto;
	}
	.calendar .menu {
		visibility: hidden;
		height: 0;
		width: 0;
	}
	.calendar td > .tag {
		color: gray;
	}
	table.calendar td {
		height: auto;
		padding: 0.5em 0.25em;
	}
	.calendar .tag {
		position: static;
		width: 100%;
	}
	.calendar span.tag {
		background-color: transparent;
	}
	.calendar td:has(.menu-list>a:nth-child(1)) {
		background-color: thistle;
	}
	.calendar td:has(.menu-list>a:nth-child(2)) {
		background-color: plum;
	}
	.calendar td:has(.menu-list>a:nth-child(3)) {
		background-color: orchid;
	}
}
@media (prefers-color-scheme: dark) {
	/* calendar weekdays */
	.content .calendar thead th {
		border-color: black;
	}
}
--></style>
<tt>
{{- range .calendar -}}
{{- $year := .Year -}}
{{- range .Months }}
<h2 class="calendar-head">{{ .Name }} {{ $year }}</h2>
<table class="calendar table">
	<thead>
		<tr>
			<th>Su</th>
			<th>Mo</th>
			<th>Tu</th>
			<th>We</th>
			<th>Th</th>
			<th>Fr</th>
			<th>Sa</th>
		</tr>
	</thead>
	<tbody>
		{{ range .Days -}}
		<tr>
			{{ range . -}}
			<td>
				{{ if . -}}

				{{ if .Pages -}}
				<a href="/+/date/{{printf "%04d-%02d-%02d" .Date.Year .Date.Month .Date.Day}}">
					<span class="tag">{{ printf "%02d" .Date.Day }}</span>
				</a>
				{{ else -}}
				<span class="tag">{{printf "%02d" .Date.Day}}</span>
				{{- end -}}

				{{ if .Pages -}}
				<aside class="menu">
					<div class="menu-list">
						{{- $date := printf "%04d-%02d-%02d" .Date.Year .Date.Month .Date.Day }}
						{{- range .Pages -}}
						{{- if dateInName .Name $date }}
						<a href="/{{.Name}}" class="date-in-name">
						{{- else }}
						<a href="/{{.Name}}#{{$date}}" class="date-in-text">
						{{- end }}
							<span class="page">
								{{- $props := properties . -}}
								{{ with $props.title -}} {{ .Value }} {{- else -}} {{ .Name }} {{- end }}
							</span>
						</a>
						{{- end }}
					</div>
				</aside>
				{{- end -}}
				{{- else -}}
					&nbsp;&nbsp;
				{{- end }}
			</td>
			{{ end -}}
		</tr>
		{{- end }}
	</tbody>
</table>
{{- end -}}
{{- else -}}
<div class="notification is-info">
	There are no posts that contains dates yet...
</div>
{{- end }}
</tt>
{{- template "footer" . -}}
