{{ template "header" . }}
<tt>
{{range .calendar}}
<h1>{{.Year}}</h1>
{{range .Months}}
<h2>{{.Name}}</h2>
<table class="calendar table is-bordered is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Su</th>
      <th>Mo</th>
      <th>Tu</th>
      <th>We</th>
      <th>Th</th>
      <th>Fr</th>
      <th>Sa</th>
    </tr>
  </thead>
  <tbody>
    {{range .Days}}
    <tr>
      {{range .}}
      <td>
        {{if .}}

        {{ if .Pages }}
        <a href="/+/date/{{printf "%04d-%02d-%02d" .Date.Year .Date.Month .Date.Day}}">
          <span class="tag">{{printf "%02d" .Date.Day}}</span>
        </a>
        {{else}}
        <span class="tag">{{printf "%02d" .Date.Day}}</span>
        {{end}}

        {{ if .Pages }}
        <aside class="menu" dir="auto">
          <div class="menu-list" dir="auto">
			{{$date := printf "%04d-%02d-%02d" .Date.Year .Date.Month .Date.Day}}
            {{range .Pages}}
            <a href="/{{.Name}}#{{$date}}" dir="auto">
              <span class="page">
                {{ $props := properties . }}
                {{ with $props.title }} {{ .Value }} {{ else }} {{ .Name }} {{ end }}
              </span>
            </a>
            {{end}}

          </div>
        </aside>
        {{end}}
		{{else}}
		&nbsp;&nbsp;
        {{end}}
      </td>
      {{end}}
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}
{{else}}
<div class="notification is-info">
  There are no posts that contains dates yet...
</div>
{{end}}
</tt>
{{ template "footer" . }}
