{{- define "header" -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta name="color-scheme" content="light dark">
		<link rel="icon" href="/public/favicon.ico">
		<link rel="stylesheet" href="/public/style-min.css">
		<link rel="license" href="/public/CC_BY-SA_4.0.txt">
		<title>
		{{- $props := properties .page -}}
		{{- with .page -}}
			{{- with $props.title -}}
				{{ .Value }}
			{{- else -}}
				{{ .Name }}
			{{- end }} | {{ end -}}
		{{- .config.Sitename -}}
		</title>
		{{ with .page -}}
			{{ widgets "head" . }}
		{{- end }}
	</head>
<body>
<a href="#main" accesskey="k" class="navbar-item" id="skip-nav"><span>S<u class="accel">k</u>ip to content</span></a>
{{ template "navbar" . }}
<div class="container is-max-desktop px-3 pb-5" role="main" id="main" dir="auto">
	<div dir="auto" class="title" id="pagetitle">
		<center>
		{{- with .page -}}
			{{- with $props.title }}
			<h1>{{ .Value }}</h1>
			{{- end }}
			{{ with base .Name -}}
			<h2 class="subtitle">{{ . }}</h2>
			{{- end -}}
		{{- end }}
		</center>
	</div>
	<div class="content pb-5">
{{- end -}}
{{- define "footer" }}
		<hr>
		<center>
			<nav id="next-prev">
				{{- $p := .page -}}
				{{- with prev $p }}
				<a href="/{{ . }}" accesskey="p" class="navbar-item footer-button" ><span>&lt;--&nbsp;<u class="accel">P</u>rev</span></a>
					{{- with next $p }}
					<span class="is-hidden">&nbsp;|&nbsp;</span>
					{{ end -}}
				{{- end -}}
				{{- with next .page -}}
				<a href="/{{ . }}" accesskey="n" class="navbar-item footer-button"><span><u class="accel">N</u>ext&nbsp;--&gt;</span></a>
				{{- end -}}
			</nav>
			<p id="email-wrapper">
				<a class="navbar-item footer-button" id="email" accesskey="e" href="mailto:feedback@pnppl.cc?subject=
				{{- with properties .page -}}
					{{- .title.Value -}}
				{{- else -}}
					{{- base .page.Name -}}
				{{- end -}}
				"><span>S<u class="accel">e</u>nd feedback...</span></a>
			</p>
			<p>
				<a id="badge" href="/about">
					<img id="badge-img" src="/public/badges/nano-88x31.gif" width="88" height="31" alt="about" loading="lazy">
				</a>
			</p>
		</center>
	</div>
</div>
{{- scripts }}
</body>
</html>
{{- end -}}
