<nav class="navbar container" role="navigation" aria-label="main navigation">
	<ul class="navbar-menu">
		{{ $class := "icon-text navbar-item navbar-end" -}}
		{{ $isActive := activeStr .page "index"  -}}
		{{ $active := "" -}}
		{{ if $isActive -}}
			{{ $active = " active" -}}
		{{ end -}}
		<li class="navbar-li" id="skip-nav">
			<a href="#main" accesskey="k" class="navbar-item">
				<span>S<u class="accel">k</u>ip to content</span>
			</a>
		</li>{{- noop -}}
		<li class="navbar-li navbar-end navbar-brand">
			<a class="icon-text navbar-item{{ $active }}" href="/" accesskey="h" aria-label="Home">
				<span class="icon"><img alt="logo" src="/public/logo.gif"></span>
				<span><u class="accel">H</u>ome</span>
			</a>
		</li>
		{{- $p := .page -}}
		{{- range $i, $a := links .page -}}
		<li class="navbar-li">
			{{ printf "<a " | raw }}{{ range $k, $v := .Attrs }}{{$k}}="{{$v}}" {{ end -}} {{ printf "class=\"navbar-item icon-text" | raw -}}
			{{ with .Label -}}
				{{ $isActive := active $p . -}}
				{{ if $isActive -}}
					{{ printf " active" -}}
				{{ end -}}
			{{ end -}}
			{{ printf "\">" | raw -}}
			{{ with .Label }}
				<span>{{.labelStart}}<u class="accel">{{.labelAccel}}</u>{{.labelEnd}}</span>
			{{ end -}}
			</a>{{- noop -}}
		</li>
		{{- end -}}
		<li class="navbar-li navbar-end">
			<a href="/+/feed.rss" class="navbar-item icon-text" accesskey="f">
				<span id="RSS">RSS</span><span> <u class="accel">F</u>eed</span>
			</a>
		</li>
	</ul>
</nav>
