<p>
<nav class="navbar mb-5 pt-5" role="navigation" aria-label="main navigation">
  <div class="container px-3" dir="auto">
  <div class="navbar-brand">
    <a class="icon-text navbar-item" href="/" accesskey="h">
      <span class="icon is-small"><img alt="logo" src="/public/logo.gif" loading="lazy"></span>
      <span><u class="accel">H</u>ome</span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      {{- range $i, $a := links .page -}}
      <li class="compat-hidden"></li>
      <a {{ range $k, $v := .Attrs }}{{$k}}="{{$v}}" {{end}} class="navbar-item icon-text">
      	{{- with .Label -}}
        <span>{{.labelStart}}<u class="accel">{{.labelAccel}}</u>{{.labelEnd}}</span>
        {{- end }}
      </a>
      {{- end }}
    </div>
    <div class="navbar-end">
<!--      <div class="navbar-item"> -->

        {{- with .page -}}
        {{- widgets "search" . -}}
        {{- end -}}
        <li class="compat-hidden"></li>
		<a href="/+/feed.rss" class="navbar-item icon-text" accesskey="f">
			<span id="RSS">RSS</span><span> <u class="accel">F</u>eed</span>
		</a>
<!--      </div> -->
    </div>
  </div>
  </div>
</nav>
</p>
