<aside class="menu">
	<div class="menu-list">
		{{- range . -}}

		<a href="/{{.Name}}">
{{/*
			{{ with banner . }}
			<img src="{{.}}" class="mr-3 is-pulled-left" style="display: block; border-radius: 0.5em; object-fit: cover; object-position: 0 50%; max-height: 3em; width: 6em;"/>
			{{ end }}
*/}}
			<span class="is-block">
				{{ emoji . }}
				{{ $props := properties . }}
				{{ with $props.title }}
					{{ .Value }}
				{{ else }}
					{{ base .Name }}
				{{ end }}
			</span>
			<time class="stamp">{{ ago .ModTime }}</time>
		</a>

		{{- end -}}
	</div>
</aside>
