<aside class="grid is-col-min-10">

  {{- range . -}}
  <div class="cell">

    <a href="/{{.Name}}">
      {{ with banner . }}
      <img src="{{.}}" class="mb-3 is-block" style="border-radius: 0.5em; object-fit: cover; object-position: 0 50%; height: 8em; width: 100%;"/>
      {{ else }}
      <div class="notification mb-3" style="border-radius: 0.5em; object-fit: cover; object-position: 0 50%; height: 8em; width: 100%;"></div>
      {{ end }}

      <span class="is-block">
        {{ emoji . }}
        {{ $props := properties . }}
        {{ with $props.title }}
        {{ .Value }}
        {{ else }}
        {{ base .Name }}
        {{ end }}
      </span>
      <time class="stamp">{{ ago .ModTime }}</time>
    </a>

  </div>
  {{- end -}}

</aside>
