<aside class="menu">
  <div class="menu-list">
  <ul>
    {{- range . -}}
<li>
    <a href="/{{.Name}}">
      <span class="is-block">
        {{ $props := properties . -}}
        {{ with $props.title -}}
          {{ .Value -}}
        {{ else -}}
          {{ base .Name -}}
        {{ end -}}
<span class="filename-right">&nbsp;[{{ .Name }}]</span>
<br>
      </span>
{{ $t := .ModTime -}}
<time class="stamp" datetime="{{ datetime $t }}">{{ printf "mod. %04d-%02d-%02d @" $t.Year $t.Month $t.Day }}&nbsp;{{ printf "%02d:%02d:%02d (%s)" $t.Hour $t.Minute $t.Second $t.Weekday }}</time>
    </a>
</li>
    {{- end }}
</ul>
  </div>
</aside>
