{{ template "header" . }}

<div class="view content pb-6">

	{{ range $tag, $pages := .tags }}
	<h2 class=hashtag-name-noinc>
	<a href="/+/tag/{{$tag}}"> #{{$tag}} </a>
	</h2>
	<aside class="menu">
	<div class="menu-list">

	<ul>
	{{- range $pages -}}
<li>
	<a href="/{{.Name}}#tag-{{$tag}}">
		<span class="is-block">
		{{ $props := properties . }}
		{{ with $props.title }}
			{{ .Value }}
		{{ else }}
			{{ base .Name }}
		{{ end }}
<span class="filename-right">&nbsp;[{{ .Name }}]</span>
<br>
		</span>
	</a>
	<div class="meta">
		{{ $t := .ModTime -}}
		{{ $weekday := printf "%s" $t.Weekday -}}
		{{ $day := wday $weekday }}
		<time datetime="{{ datetime $t }}">{{ printf "mod. %04d-%02d-%02d @" $t.Year $t.Month $t.Day }}&nbsp;{{ printf "%02d:%02d (%s)" $t.Hour $t.Minute $day }}</time>
		<span class="is-hidden"> ~ </span>
		<span class="filename-right">
			{{- range $v := $props.tags.Val }}<a class="tag" href="/+/tag/{{ $v }}">#{{ $v }}</a> {{ end -}}
		</span>
	</div>
</li>
	{{- end -}}
	</ul>
	</div>
</aside>

	{{ end }}

</div>

{{ template "footer" . }}
