{{ define "toc-item" }}
<li>
  <a href="#{{ printf "%s" .ID}}">{{ printf "%s" .Title | raw }}</a>
  {{ with .Items }}
  <ol class="menu-list">
    {{ range . }}
    {{ template "toc-item" . }}
    {{ end }}
  </ol>
  {{ end }}
</li>
{{ end }}

{{ with .tree.Items }}
<aside class="menu is-hidden-touch table-of-contents">
  <div id="table-of-contents-list">
    <details open><summary><center><p class="menu-label" id="TOC"><a name="TOC" href="#TOC" accesskey="t"><i><u class="accel">T</u>able of Contents:</i></a></p></center></summary>
    <ol class="menu-list">
      {{ range . }}
      {{ template "toc-item" . }}
      {{ end }}
    </ol>
    </details>
  </div>
</aside>
<br class="is-hidden">
{{ end }}
