{{ define "toc-item" }}
<li>
	<a href="#{{ printf "%s" .ID}}" accesskey="{{ accesskey }}">{{ printf "%s" .Title | raw }}</a>
	{{- with .Items }}
	<ol class="menu-list">
		{{- range . }}
		{{ template "toc-item" . }}
		{{ end -}}
	</ol>
	{{- end }}
</li>
{{- end -}}

{{- with .tree.Items -}}
{{- resetaccess -}}
<hr class="is-hidden">
<aside class="menu table-of-contents">
	<div id="table-of-contents-list">
		<details open>
			<summary>
				<p class="menu-label" id="TOC">
					<a name="TOC" href="#TOC" accesskey="l">
						<i>Tab<u class="accel">l</u>e of Contents:</i>
					</a>
				</p>
			</summary>
			<ol class="menu-list">
				{{- range . }}
				{{- template "toc-item" . }}
				{{ end -}}
			</ol>
		</details>
	</div>
</aside>
<hr class="is-hidden">
<!--<br class="is-hidden">-->
{{- end -}}
